<!DOCTYPE html>
<html>
<head>
	<title>Final Project</title>
	<link rel="stylesheet" type="text/css" href="styles.styl">
</head>
<body>

	<h1>Selfie City</h1>

<div data-ng-controller="FBController" class="container"> 
        <div class="page-header">
            <h1>Hello. Please log in below:</h1>  
          </div>
          
          <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name}}</div>
            <div class="alert alert-warning" data-ng-show="byebye">You are now logged out.</div>
          </div>
          
          <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
          <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click=logout()">Logout</button>
        </div>
      </div>
    </div>
</body>

</html>
