<script src="https://apis.google.com/js/platform.js" async defer></script>    
    <div class="container" data-ng-controller="FBController">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="page-header">
            <h1>Hello. Please log in below:</h1>  
          </div>
          <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name || "__________"}}</div>
            <div class="alert alert-warning" data-ng-show="byebye">You are now logged out.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    
<!-- Darcy leaves a comment -->