h1

	color: green

	
p	
	color: green
	
	nav.nav-vertical
	ul.nav-list
		li.nav-item.dropdown
			a.nav-item-link
			ul.dropdown-menu
				li.nav-item.dropdown-menu-item

	color green
	
p	
	color green

.page-header
	color: red