h1 {
  color: #008000;
}
p {
  color: #008000;
}
.page-header {
  color: #f00;
}
iframe {
  border: 1px;
}
#submit {
  width: 30%;
  height: 2em;
}
.modalBadge {
  width: 200px;
  height: 200px;
  horizontal-align: center;
}
.profileBadge {
  width: 150px;
  height: 150px;
}
.profilePic {
  width: 100px;
  height: 100px;
}
.modal-content {
  width: 240px;
  height: 300px;
}

h1 {
color #008000;
}

p {
.page-header
color: #f00,
}

#submit {
width: 30%;
height: 2em;
}

.backImage {
max-width: 100%;
display: block;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 1024px;
height: 665px;
}

footer {
  text-align: center;
}
