h1
	color: green
	
p	
	color: green

.page-header
	color red
	
iframe
	border 1px

#submit
	width 30%
	height 2em

.modalBadge 
	width 200px
	height 200px
	horizontal-align center

.profileBadge
	width 150px
	height 150px

.profilePic
	width 100px
	height 100px
	
.modal-content
	width 240px
	height 300px
	