<!-- <div>
	<div class="col-md-5">
<h1>Selfie Example</h1>
<img src="./public/images/darcy.jpg" />
	</div>
	<div class="col-md-5">
<h1>Professional Photo Example</h1>
<img src="./public/images/brodrick.jpg" />
	<ul>Conditions
		<li>Weather: Cloudy</li>
		<li>Aperture: f/2.8</li>
		<li>Focal Length: 24mm </li>
		<li>Shutter Speed: 1/125</li>
		<li>ISO: 1600</li>
	</ul>
</div>
</div> -->

<div class="gallery gallery1" ng-controller="photoControl">
  <span ng-repeat="image in images">
    <a ng-click="openLightboxModal($index)">
      <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
    </a>
  </span>
</div>